#header a.logo,
#header2 a.logo,
#header3 a.logo,
#header4 a.logo,
#header5 a.logo {
    width: 206px !important;
    height: 200px !important;
    display: block !important;
    margin: 17px 0 0 !important;
    float: left !important;
    text-indent: -9999px !important;
    background-repeat: no-repeat !important;
    left: auto !important;
    position: relative !important;
}

#header a.logo { background: url('https://bulletstarclassic.nl/img/4/bg/logo-bulletstar-1.png') !important; }
#header2 a.logo { background: url('https://bulletstarclassic.nl/img/4/bg/logo-bulletstar-2.png') !important; }
#header3 a.logo { background: url('https://bulletstarclassic.nl/img/4/bg/logo-bulletstar-3.png') !important; }
#header4 a.logo { background: url('https://bulletstarclassic.nl/img/4/bg/logo-bulletstar-4.png') !important; }
#header5 a.logo { background: url('https://bulletstarclassic.nl/img/4/bg/logo-bulletstar-5.png') !important; }
